*
!analysis/README.md
!config
!config/*
!resources
!resources/*
!resources/*/*.fasta
!bacpage
!bacpage/**
.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!LICENSE
!README.md
!environment.yaml
!Dockerfile
!example/**
!bacpage.py
!test/**
!pyproject.toml
