*
!analysis/README.md
!config
!config/*
!resources
!resources/*
!resources/*/*.fasta
!workflow
!workflow/**
.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!LICENSE
!README.md
!environment.yaml
!Dockerfile
!example/**
!test/test_pipeline/**
!bacpage.py
!test/**
!test/*
